{% if u.role == 'user' %}
{%  include 'base1.html' %}
{% elif u.role == 'admin' %}
{%  include 'base2.html' %}
{% endif %}
{% load static%}


{% block title %}{% endblock title %}
{% block body %}

<div class="page-wrapper">
  <div class="container-fluid">
      <div class="row">
          <div class="col-12">
              <div class="card">
                  <div class="card-body">
                    <form method="post" action=""> 
                      {% csrf_token %}
                    <div class="form-group">
                      <label for="title" class="Form-Heading">Title:</label>
                      <input type="text" id="title"  name="title" maxlength="50" rows="1" value="{{i.Title}}" disabled>
                    </div>
                    <div class="form-group">
                      <label for="description" class="Form-Heading">Description:</label>
                      <textarea type="text" id="description"  name="description" maxlength="1000" rows="5" disabled>{{i.Description}}</textarea>
                    </div>
                    <div class="form-group">
                      <label for="Admin_comment" class="Form-Heading">Admin's Comment:</label>
                      <textarea type="text" id="A_answer" name="Admin_answer" maxlength="500" rows="5" disabled>{{i.Admin_answer}}</textarea>
                    </div>
              
                    {% if i.Status_M == "Accepted" or u.mail != i.Manager_mail %}
                    <div class="form-group">
                      <label for="Manager_comment" class="Form-Heading">Manager Comment:</label>
                      <textarea type="text" id="M_answer" name="Manager_answer" maxlength="600" rows="5" disabled >{{i.Manager_answer}}</textarea>
                    </div>
                      {% if i.Status_A != 'Accepted' and u.role == "admin" %}
                      <button class="btn btn-success d-none d-md-inline-block text-white" formaction="publish/{{i.Form_id}}">PUBLISH !</button>
                      {% endif %}
              
                    {% else %}
                    {% if i.Status_A != 'Rejected' %}
                    <div class="form-group">
                          <label for="Manager_comment" class="Form-Heading">Manager Comment:</label>
                          <textarea type="text" id="M_answer" name="Manager_answer" maxlength="600" rows="5"></textarea>
                    </div>
                    {% if i.Status_M != 'Accepted' %}
                    <button class="btn btn-success d-none d-md-inline-block text-white" formaction="manageraccept/{{i.Form_id}}">Accept</button>
                    <button class="btn btn-danger d-none d-md-inline-block text-white" formaction="managercancel/{{i.Form_id}}">Cancel</button>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    
                  </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<footer class="text-center text-lg-start bg-white text-muted">
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
      <a href="https://www.linde.com/sitemap" target="_blank">Sitemap</a> |
      <a href="https://www.linde.com/privacy-statement" target="_blank">Privacy Statement</a> |
      <a href="https://www.linde.com/terms-conditions" target="_blank">Terms and Conditions</a> |
      <a href="https://www.linde.com/contact-us" target="_blank">Contact Us</a> |
      <a href="https://www.linde.com" target="_blank">About Us</a>
  </div>
</footer>
</div>

{% endblock body %}